[submodule "extern/laks"]
	path = extern/laks
	url = ssh://git@bitbucket-tp.mymarel.com:7999/~karl.palsson/laks.git
[submodule "extern/freertos"]
	path = extern/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "extern/etl"]
	path = extern/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "extern/tinyusb"]
	path = extern/tinyusb
	url = ssh://git@bitbucket-tp.mymarel.com:7999/~karl.palsson/tinyusb.git
[submodule "extern/mcux-usb"]
	path = extern/mcux-usb
	url = https://github.com/nxp-mcuxpresso/mcux-sdk-middleware-usb
