# This works for m2400, with openocd out of the box.
#source [find interface/jlink.cfg]
#adapter serial 36B06192A2189006 for my orbtrace
source [find interface/cmsis-dap.cfg]
#source [find interface/stlink.cfg]
#source [find interface/ti-icdi.cfg]
transport select swd
set WORKAREASIZE 0x4000
#set WORKAREASIZE 0x10000 No additional speed gain.
#set CHIPNAME k70
set CHIPNAME k64
source [find target/kx.cfg]
#source [find target/xmc4xxx.cfg]
#source [find target/stm32f4x.cfg]
adapter speed 10000
#adapter speed 6000
#adapter speed 1000
#reset_config connect_assert_srst

#tpiu create $_TARGETNAME.tpiu -dap $_CHIPNAME.dap -ap-num 0x0
# for mculink, though I'm not sure it can actaully run at 16M?!
#$_TARGETNAME.tpiu configure -protocol uart -traceclk 120000000 -output :3443 -formatter 0 -pin-freq 16000
# jlink can autodetect (or not?)
#$_TARGETNAME.tpiu configure -protocol uart -traceclk 120000000 -output :3443 -formatter 0
#$_TARGETNAME.tpiu enable

gdb report_data_abort enable
#$_TARGETNAME configure -rtos FreeRTOS
$_TARGETNAME configure -rtos auto

tcl port 0
gdb port 3335
telnet_port 4446

source [find /home/karlp/src/ceres/tools/trace-helpers.cfg]
echo {
    To turn on PC Sampling:
	`mon dwt_pc_sampling on 1024` (64 is toooo fast)
    To turn on/off stdio/stderr on ITM chan 0/1
	`mon itm port [0|1] on|off`
    To view RTT output
	`telnet localhost 9091`
}

#proc app_rtt_restart { {ARG 0x20000000} } {
proc app_rtt_restart { {ARG 0x1fff0000} } {
        # Swallow openocd getting cranky if it wasn't already started.
        echo [catch {rtt stop}]
        rtt setup $ARG 0x10000 "SEGGER RTT"
        rtt start
	echo "started rtt"
        echo [catch {rtt server stop 9091}]
	#echo "swallowed rtt server stop"
        rtt server start 9091 0
	echo "rtt server started"
	# I really want a better way, start RTT if not started...
	#  need to tcl script recalling setup? or recalling start?
}

proc app_rtt_rescan { } {
        rtt setup 0x1fff0000 0x4000 "SEGGER RTT"
}


proc app_examine_end { } {
	# These two are important to actually get ITM enabled!
	dwt_cyccnt on
	itm port 0 on
	itm port 1 on
	#app_rtt_restart
}

$_TARGETNAME configure -event examine-end {
	echo "event examine end"
	app_examine_end
}

$_TARGETNAME configure -event  gdb-flash-write-end {
	echo "event flash write end"
	app_rtt_restart
}

